.pointer-none{
 pointer-events: none;
 opacity: 0.65;
}

.pointer-visible{
 pointer-events: visible;
}

.dislay-block{
 display:block
}

.display-none{
 display:none
}

.text-submitted{
    color: lightgrey;
}

.btn-span{
    padding: 10px;
    display: inline;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 0 10px;
    background: red;
    font-size: 15px;
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
}
