.height-95 {
    height: 95px;
}

.height-160 {
    height: 160px;
}

.height-60 {
    height: 60px;
    border: 2px solid black ;
}

.font-label{
 font-size:14pt;
 color: gray  !important;
}

.font-size-24{
   font-size:24pt  !important;
}

.font-header{
 font-size:48pt  !important;
}

.border-right-black{
 border-right-color: black !important;
}

.img-barcode{
 width:100%  !important;
 height: 65px  !important;
}

.header-format{
 border: 10px solid black  !important;
}

.table-format{
 border: 4px solid black  !important;
 width: 595px !important;
 height: 430px  !important;
 font-weight: bold  !important;

}
